<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalculatorApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51BF52AF1C8242F10008DF07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51BF52C31C8242F20008DF07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51BF52CE1C8242F20008DF07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
